@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

.btn {
    min-width: fit-content  !important;
    font-family: 'Rubik'!important;
}

.ui.container {
    align-items: initial !important;
    background: rgb(255, 255, 255) !important;
    border-radius: 10px !important;
    min-width: fit-content !important;
    
}

body {
    background: rgb(25, 53, 81) !important;
}

.ui.card {
    padding: 1em !important;
    margin: 1em  !important;
    border-radius: 0px !important;
    min-width: fit-content;
}

.ui.horizontal.segments>.segment {
    background: rgb(230, 230, 230) !important;
    border: none !important;
    /* height: 1em !important; */
    color: rgb(180, 180, 180);
    border-radius: 0px !important;


}

.ui.segments.apple {
    background: rgb(245, 245, 245) !important;
    margin-left: 10vw !important;
    width: 80vw;
    border: none;
    padding: 0;
}

.ui.segment {
    /* background: rgb(245, 245, 245) !important; */
    /* background: rgb(25, 53, 81) !important; */
    border-radius: 0px !important;
    margin: 0rem !important;
    background: none !important;
}
div.ui.segments {

    box-shadow: none;

}
div.orange {
    color: gray;

}

.card.peopleList {
    color: white;
    background: rgb(245 155 13);
    width: fit-content;
    margin: 10px;
    border-radius: 0px;
    float: left;
    -moz-text-size-adjust: auto;
    padding: 5px;
}
.list-group-item {
    background: transparent;
    border: none;
}
.spacer {
    background: rgb(245 155 13);
}
div.landing {
    text-align: center;
    color: white;
    height: 100vh !important;
    padding-top: 3vh;
    
}
img.circular-logo {
    display: inline ;
    width: 15%;
    border-radius: 20vw;
    
}
div.landing-menu {
    color: #3793fb !important;
    background: #ffffff !important;
    border: none !important;
    /* width: 0; */
}

div.landing-menu.item {
    
    background: #ddecfd !important;
    border: none !important;
}
div.item::before {
    content: none !important;
}
img.small-logo {
    width: 15%;
    border-radius: 20vw;
    
}
.flex-about-img-left {
    display: flex;
    flex: 1 !important;
    border-radius: 10px !important;
    position: left;
   
}
.flex-about-small-pics {
    display: flex;
    flex: 1 !important;
    border-radius: 10px !important;
}
.flex-about-information {
    display: flex;
    border-radius: 10px !important;
    margin-right: 20px !important;
    
}
.carousel-item-all {
    background: rgb(245, 245, 245) !important;
    padding: 7%;
    display: flex;
    align-items: stretch;
}
.about-right-content{
    color: #ffffff;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    background:rgb(25, 53, 81) ;
}
.about-small-images{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    width: 75px;
    height: 75px;
   
    /* padding: 100px; */
}
.small-img-about{
    border-radius: 50%;
}
.comments-media-carousel{
    display: block;
    margin: auto;
    height: 150px !important;
}

div.ui.segment.active.tab {
    background:  rgb(255, 255, 255);
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    padding: 0;
}
 .blue-comments-fix{
    background:  rgb(228, 238, 253) !important;
    max-width: 1000px !important;
    
 }

.table-streak-form{
    font-family: 'Rubik' !important;
}

h1 {
    font-family: 'Rubik' !important;
}

.new-streak-title{
    color: white !important; 
}

.button-orange{
    color: white !important;
    background-color: rgb(245 155 13) !important;
}

.streaks-cards{
    color: rgb(141 129 140) !important;
}

.all-streaks-cards{
    background: rgb(25, 53, 81) !important;
    border-style: none;
    width: fit-content;
}
div.timerbox {
    text-align: center;
    padding: 3rem;
}
div.ui.comments {
    background: rgb(228, 238, 253);
    padding: 1.25rem;
  
}
div.newComment {
    background: rgb(255, 255, 255);
    padding: 1.25rem;

}
div.timer.card {
    float: right;
    width: 50vw;
    min-width: min-content;
    margin-right: -5vw;
}
.button-landing {
    color: transparent !important;
    background-color: rgb(245 155 13) !important;
    border-style: none;
    width: fit-content;
    border-radius: 2px;
    padding: 3px;
}
/* div.ui.landing-menu.menu {
    /* margin-left: 12vw !important; 
} */
.style-white {
    color: #ffffff;
}
.ui.inverted.menu {
    background-color: white !important;
}
.ui.menu {
    margin: 0% !important;
    max-height: 5em;
    border: 0px !important;
    border-color: white;
    border-radius: 0 !important;
    box-shadow: none !important;
    height: 4em;
    font-family: 'Rubik' !important;
}

.ui.search .prompt {
    border-radius: 4px 4px 4px 4px !important;
    padding: .2rem !important;
    font-family: 'Rubik'!important;
}
.ui.button {
    background-color: rgb(245, 155, 13) !important;
    border-style: solid !important;
    border-width: .1em !important;
    border-color: rgb(255, 255, 255) !important;
    color: honeydew !important;
    height: 2.5em;
    padding-bottom: 24px !important;
    font-family: 'Rubik'!important;
    font-weight: 450 !important;
}

.ui.input {
    height: 2.5em;
}

span {
    /* display: flex; */
    align-self: center;
    width: .075em;
    height: .8em;
    /* background-color: #9e9e9e; */
    /* border-left: .5px solid lightgray; */
    opacity: 30%;
    }
.cheer-laugh {
    border: none;
    background: transparent;
    color: rgb(144, 152, 161, 1) !important;
}
.form-control {
    font-family: 'Rubik' !important;
}
div.center-btn {
    display: flex;
    justify-content: center;
}

/* #boom:hover {
    border: none !important;
    border-color: white !important;
    box-shadow: none !important;
    color: red;
} */