.register {
    padding: 0 40em;
    margin-top: 1.5em;
    
}

.register h1, p{
    color: white;
    text-align: center;
    
}

.register Button {
    align-self: flex-end;
}
.register input {
    text-align: center;
}

.link {
    color: #FFF;
  }


.link:hover {
     color: #00F
  }