.register {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.register form{
    margin: auto;
}

.register h1, p{
    color: white;
    text-align: center;
    
}


.register Button {
    align-self: flex-end;
}
input {
    text-align: center;
    width: '0 20em'
}

