.ui.menu {
    margin: 0% !important;
    max-height: 3em;
    border-radius: 0 !important;
    box-shadow: none !important;

}

.ui.search .prompt {
    border-radius: 0rem !important;
    padding: .2rem !important;
}
.ui.button {
    color: white !important;
    background-color: rgb(245 155 13) !important;

}