.ui.menu {
    margin: 0% !important;
    max-height: 3em;
    border-radius: 0 !important;
    box-shadow: none !important;

}

.ui.search .prompt {
    border-radius: 0rem !important;
    padding: .2rem !important;
}
.ui.button {
    background-color: rgb(3, 180, 3) !important;
    border-style: solid !important;
    border-width:.1em !important;
    border-color: rgb(1, 150, 1) !important;
    color: honeydew !important;
    

}