.ui.menu {
    margin: 0% !important;
    max-height: 3em;
    border-radius: 0 !important;
    box-shadow: none !important;

}

.ui.search .prompt {
    border-radius: 0rem !important;
    padding: .2rem !important;
}
.ui.button {
    color: white !important;
    background-color: rgb(245 155 13) !important;

}

span {
    display: flex;
    align-self: center;
    width: 0;
    height: .8em;
    border-left: .5px solid lightgray;
    opacity: 80%;
    /* border-right: 1px solid lightgray; */
    /* position:relative; */
    /* bottom:'-5px'; */
    }

.burgerBell {

}